@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Material icons*/

/*Sizing*/
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/*Coloring*/


.mr-6 { margin-right: 6px; }
.border { border: 1px solid red; }
:root {
	--primary: rgba(0, 136, 169, 1);
	--secondary: #24252A;
	--bg-color: #edf0f1;
	--textcolor: #edf0f1;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: #24252A;*/
}

h2 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
	color: var(--textcolor);
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}



header {
	/*border: 1px solid;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 8%;
	background-color: var(--secondary);
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.4);
}


.logo {
	cursor: pointer;
	color: var(--textcolor);
	margin-right: auto;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*nav-items*/

.nav-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 16px;
}


.navbar a:hover {
	background-color: var(--bg-color);
	color: var(--secondary);
	transition: background-color .5s;
}

.active {
	background-color: var(--bg-color);
	color: var(--secondary);
	transition: background-color .5s;
}

.cta {
	/*position: fixed;*/
	padding: 9px 16px;
	background-color: var(--primary) ;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.cta:hover {
	background-color: rgba(0, 136, 169, 0.8);
}
.cta:active {
	background-color: rgba(0, 136, 169, 0.8);
}

/*Navbar for small screen*/

@media all and (max-width: 800px) {
	
	.overlay {
	  height: 0;
	  width: 100%;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: var(--secondary);
	  overflow-y: hidden;
	  overflow-x: hidden;
	  transition: 0.5s;
	  /*flexbox*/
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}

	.navbar {
		position: relative;
		flex-direction: column;
		flex-basis: 100%;
		/*top: 16%;*/
	}

	.navbar a {
	  font-size: 30px;
	  color: var(--textcolor);
	}
	.nav-item {
		padding: 20px 100%;
	}


/*Hamburger Menu starts*/

	.menu-btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 35px;
		cursor: pointer;
		padding: 32px 0;
		margin-left: 25px;
		z-index: 1;
	}

	.menu-btn_burger {
		width: 40px;
		height: 4px;
		background: var(--textcolor);
		border-radius: 5px;
		/*box-shadow: 0 1px 5px rgba(255, 101, 47, 0.5);*/
		transition: all .5s ease-in-out;
	}


	.menu-btn_burger::before,
	.menu-btn_burger::after {
		content: '';
		position: absolute;
		width: 40px;
		height: 4px;
		background: var(--textcolor);
		border-radius: 5px;
		/*box-shadow: 0 1px 5px rgba(255, 101, 47, 0.5);*/
		transition: all .5s ease-in-out;
	}

	.menu-btn_burger::before {
		transform: translateY(-12px);
	}

	.menu-btn_burger::after {
		transform: translateY(12px);
	}

	/*Animation*/

	.menu-btn.open .menu-btn_burger {
		transform: translateX(-50px);
		background: transparent;
		box-shadow: none;
	}

	.menu-btn.open .menu-btn_burger::before {
		transform: rotate(45deg) translate(35px, -35px);
	}

	.menu-btn.open .menu-btn_burger::after {
		transform: rotate(-45deg) translate(35px, 35px);
	}

	
}

/*Hamburger menu ends*/

@media all and (max-width: 320px) {

	.cta {
			display: none;
	}

}













